{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <h5> {{username}} </h5>
    <br>
    <form action="/add-money" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="money_pass" placeholder="Password" type="password">
            <br> <br>
            <input autocomplete='off' class='form-control' name='money' placeholder='Amount' type='number'>
            <br>
        </div>
        <button class="btn btn-primary" type="submit">Add Money</button>
    </form>
{% endblock %}